HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

##DevOps TimeSheet##
.mvn
logsspringboot.log
logsspringboot.log.2020-02-29.0.gz
logsspringboot.log.2020-03-01.0.gz
logsspringboot.log.2020-03-02.0.gz
logsspringboot.log.2020-03-04.0.gz
mvnw
mvnw.cmd

